<h1>{{title}}</h1>
<p>Welcome to {{title}} entry</p>

<form>
  <label>Lat:</label> <input type='text' name="lat"><br/>
  <label>Long:</label><input type='text' name="long"><br/>
  <button>Submit</button>
</form>
